{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(wishForm) }}
    {{ form_widget(wishForm) }}
    <button type="submit" class="btn btn-secondary">Save</button>
    {{ form_end(wishForm) }}

{% endblock %}
