body {
    background-color: lightgray;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

}
.container{
    display: flex;
    align-self: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
    margin: 20px;
    flex-grow: 1;
    width: 100%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#343a40;
    color:whitesmoke;
    height: 80px;
}
.team{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;

}
.teamMate{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 2px solid black;
    box-shadow: 4px 4px black;
}
.wishcontainer{

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 15px   ;
}
.wish{

    max-width: 20vw;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.wishdetails{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
}
form{
    width: 50%;
}